@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply min-h-full;
  background-color: white;
  background-image: url("https://tailwindcss.com/_next/static/media/docs@tinypng.d9e4dcdc.png");
  background-repeat: no-repeat;
  background-size: auto;
}

/* Pour Firefox */
body {
  scrollbar-width: none;
}

/* Pour Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 0;
  display: none;
}
